
// Config vars - Sass
// ---------------------------------------+
//

// Colors
$black: #000;
$gray: #222;
$white: #fff;

// Paths
$image-path: "../img";

// Fonts
$main-font: 'HelveticaNeue Light', 'Helvetica Neue Light', Helvetica, Arial, Sans-Serif;