
// Base styles
// ---------------------------------------+
//

/**** BACKGROUNDS ****/

/* Global */
body {
	font-family: $main-font;
}

h1{
	font-weight: 200;
	margin: 0 0 20px 0;
}
p{
	width: 240px;
	display: inline-block;
	clear: both;
	margin: 0;
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Serif;
	font-style: italic;
	color: #aaa;
}
fieldset{
	border: 1px solid #ccc;
	padding: 20px;
}
legend{
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	font-family: Georgia, Serif;
	padding: 0 10px;
	margin-left: -10px;
}
fieldset ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
fieldset ul li{
	display: block;
	clear: both;
	padding: 0;
	margin: 0 0 15px 0;
}
label{
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
	font-size: 12px;
	font-weight: bold;
	float: left;
}
input{
	float: right;
	display: block;
}
input[type="text"]{
	width: 30px;
}
input[type="submit"]{
	display: block;
	clear: both;
	float: none;
	margin: 15px 0 0 0;
}
#wrapper{
	width: 960px;
	margin: 50px auto;
}
#canvas{
	display:block;
	float: left;
	width:600px;
	height:600px;
	background:#000;
	margin:0 30px 0 0;
}
#controls{
	width: 330px;
	float: left;
}
